
body{
    background-color: maroon;
}
.flex-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-horiz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#sec-orgs, #sec-events, #sec-news{
    padding: 4em;
    margin: 50px 20px;
    background-color: rgb(200,50,50);
    box-shadow: 5px 5px;
}
#articles {
  width: 50%;
}
#headline {
  width: 45%;
}
#headline img{
    width: 80%;
}
.club , .event{
  width: 30%;
  background-color: darkgray;
  padding: 10px;
  color:black;
  box-shadow: 10px 10px;
}
.club img, .event img {
  width: 90%;
  height: 60%;
  object-fit: cover;
  color: black;
  box-shadow: 10px 10px;
  display: block;
  margin: auto;
}
nav ul li{
    padding: 12px;
    color:black;  
    background-color: lightslategray;
    cursor: pointer;
    transition-duration: 500ms;
}
nav ul li:hover{
    background-color: lightgray;
}
nav ul li a{
    color:black;  
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start space-around;
    
}
h1{
    text-align: center;
    color:#ffffff;
    font-size: 80px;
}